:root {
    --secondry-color: #f9f7fe;
    --branding-clor: #6c63ff;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;


}
.hero {
    background: var(--secondry-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p {
    font-size: 36px;
    margin: 0;
}
.hero h2 {
    font-size: 24px;
    font-weight: normal;
}
h1 {
    font-size: 96px;
   
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

.btn-branding {
    background: var(--branding-clor);
    font-size: 18px;
    border-radius: 4px; 
    line-height: 27px;
    color: white;
    padding: 15px 30px;
}