:root {
    --secondry-color: #f9f7fe;
    --branding-clor: #6c63ff;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;}

h1,
 h2,
  h3,
   h4,
    h5,
     h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.hero {
    background: var(--secondry-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p {
    font-size: 36px;
    margin: 0;
}
.hero h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
font-family: var(--heading-font-family);}
h1 {
    font-size: 96px;
    line-height: 1.5;
   
}
h2 {
    font-size: 64px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
img {
    padding: 10px 30px;
}

.btn-branding {
    background: var(--branding-clor);
    font-size: 18px;
    border-radius: 4px; 
    line-height: 27px;
    color: white;
    padding: 15px 30px;
}
.btn-branding-outline {
    line-height: 27px;
    font-size: 18px;
    border-radius: 4px; 
    padding: 15px 30px;
    color: var(--branding-clor);
    border: 1px solid var(--branding-clor);
}
.project-description {
    padding: 120px 60px;
}
@media (max-width: 900px) {
    .project-description {
        padding: 0;
        text-align: center;
    }
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    .hero {
        padding: 80px 20px;
    }
}